<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.jbk.listeners.MyListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.JBKProjectTest.LoginPageTest" />
			<class name="com.JBKProjectTest.DashboardPageTest" />
			<class name="com.JBKProjectTest.UserPageTest" />
			<class name="com.JBKProjectTest.OperatorPageTest" />
			<class name="com.JBKProjectTest.UsefulLinksPageTest" />
			<class name="com.JBKProjectTest.DownloadsPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
